.score{
    padding: 10px;
}

.dropdown{
    padding-top: 30px;
}
.homepage-img{
    width: 100%;
}
.table{
    color: white;
}
.score{
    text-align: right;
}
.separate{
    padding-bottom: 28px;
}
.interline{
    margin-bottom: 10px;
}